@import "variables";

@font-face {
    font-family: "Segoe UI";
    src: local("Segoe UI"), url("/fonts/Segoe UI.woff") format("woff");
}

@font-face {
    font-family: "Segoe UI Light";
    src: local("Segoe UI Light"), url("/fonts/Segoe UI Light.woff") format("woff");
}

@font-face {
    font-family: "Segoe UI Semilight";
    src: local("Segoe UI Semilight"), url("/fonts/Segoe UI Semilight.woff") format("woff");
}


body {
    background: @color-background-medium;
    color: @color-font-dark;
    font-family: @font-body-family;
    font-size: @font-body-size;
    -ms-user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
}

h1 {
    font-size: 2.1em;
}

input {
    border: 1px solid transparent;
    border-bottom-color: @color-font-light;
    background: transparent;
    color: @color-font-dark;
    font-family: @font-body-family;
    font-weight: 100;
    font-size: 117%;
    text-align: center;

    &[disabled] {
        color: @color-font-light;
        border: 0;
    }

    &[readonly] {
        color: @color-font-medium;
    }
}

input[type=button],
input[type=submit] {
    margin: 0 14px;
    padding: 11px 21px 14px;
    cursor: pointer;
    transition: 210ms all;

    &:hover, &:active, &.active {
        border-color: @color-font-light;
        .shadow-light();

        &[type="blue"] {
            border-color: #77a;
        }

        &[type="submit"] {
            border-color: #7a7;
        }
    }

    &.dark {
        color: @color-font-light;
        border-bottom-color: @color-font-dark;

        &:hover, &:active, &.active {
            border-color: @color-font-dark;
            .shadow-dark();
        }
    }
}

:focus {
    outline: 0;
}


/* Countdown */

#app.app-countdown {
    display: block;
    background: white;
    text-align: center;

    h3 {
        margin-top: 0;
        padding-top: .7em;
        font-size: 4.2em;
    }

    h4 {
        margin-bottom: 0;
        padding-bottom: 1.75em;
        font-size: 1.4em;
        font-style: italic;
    }
}


/* Anonymous */

#app.app-anonymous {
    padding: 49px 28px 42px;
    background-color: @color-background-light;
    text-align: center;

    & > * {
        margin: auto;
        max-width: @layout-flex-threshold;
    }

    h1 {
        margin-bottom: 35px;
    }

    .errors {
        padding-top: 35px;
    }
}

.loading {
    width: 100%;
    padding: 35px 0;
    background: white;
    text-align: center;
}


/* Sidebar */

.sidebar {
    background: @color-background-dark;
    color: @color-font-light;

    .countdown h3, .countdown h4 {
        margin: 0;
        text-align: center;
    }
}

.top-shown {
    padding-top: 35px;
    font-style: italic;
}

.no-messages {
    padding: 49px;
    opacity: .49;
    font-style: italic;
    text-align: center;
}

.activity-time {
    opacity: .7;
    font-size: 70%;
    font-style: italic;
}


/* Profile */

#profile {
    background: @color-background-light;
}

.info-display-area {
    padding-top: 21px;
}

.info-display .display {
    font-weight: bold;
}

.info-display-large .display {
    display: block;
    font-weight: normal;
}

.actions {
    margin-top: 28px;
}

.confirmation-dialog {
    background: @color-background-translucent;
    z-index: 10;
}

input.action-confirm {
    background: @color-accent-color;
    color: white;
}

/* Footer */

#footer-wrapper {
    padding: 14px 28px 28px;
    background: @color-background-medium;
    color: @color-font-dark;
    font-family: @font-fancy-family;
    text-align: center;
}
