body {
  background: #ccccd0;
  color: #494949;
  font-family: "Segoe UI Semilight", "Segoe UI", "sans-serif";
  font-size: 1.17em;
  -ms-user-select: none;
  -webkit-user-select: none;
  cursor: default;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: lighter;
}
h1 {
  font-size: 2.1em;
}
input {
  margin: 0 14px;
  padding: 11px 21px 14px;
  border: 1px solid transparent;
  border-bottom-color: #ccccd0;
  background: transparent;
  color: #494949;
  font-family: "Segoe UI Semilight", "Segoe UI", "sans-serif";
  font-weight: 100;
  font-size: 117%;
  text-align: center;
  cursor: text;
  transition: 210ms all;
}
input:hover,
input:active {
  border-color: color-font-light;
  box-shadow: 0 3px 7px #bbcccc;
}
input:hover[type=blue],
input:active[type=blue] {
  border-color: #77a;
}
input:hover[type=submit],
input:active[type=submit] {
  border-color: #7a7;
}
input[type=button],
input[type=submit] {
  cursor: pointer;
}
/* Anonymous */
#app.app-anonymous {
  margin-top: 35px;
  padding: 14px 28px 42px;
  text-align: center;
}
#app.app-anonymous > * {
  margin: auto;
  max-width: 700px;
}
#app.app-anonymous h1 {
  margin-bottom: 35px;
}
/* Profile */
#profile {
  background: #fefeff;
}
.info-display-area {
  padding-top: 21px;
}
.actions {
  margin-top: 28px;
}
.action-confirmation {
  opacity: 0;
  display: none;
  transition: 175ms opacity;
}
.action-expanded .action-confirmation {
  display: block;
  opacity: 1;
}
/* Activity bar */
#activity-bar {
  background: #283542;
  color: #ccccd0;
}
#activity-bar .activity:last-of-type {
  padding-bottom: 42px;
}
/* Footer */
#footer-wrapper {
  padding: 14px 28px 28px;
  background: #ccccd0;
  color: #494949;
  text-align: center;
}
