@color-background-dark: #283542;
@color-background-light: #fefeff;
@color-font-light: #ccccd0;
@color-font-dark: #494949;
@color-shadow-light: #bbcccc;
@color-shadow-medium: #b0c0c0;
@color-shadow-heavy: #aabbbb;

@font-body-family: "Segoe UI Semilight", "Segoe UI", "sans-serif";
@font-body-size: 1.17em;

@layout-flex-threshold: 700px;

@padding-inside: 11px 0;
@padding-section: 11px 14px;

.shadow-light() {
    box-shadow: 0 3px 7px @color-shadow-light;
}

.shadow-medium() {
    box-shadow: 0 3px 7px 1px @color-shadow-medium;
}

.shadow-heavy() {
    box-shadow: 0 7px 14px 3px @color-shadow-heavy;
}